{% assign repo_url =  include.repository | split: '/' %}

<div class="grid-sizer"></div>
<div class="grid-item">
  <a href="https://github.com/{{ include.repository }}">
    <div class="card hoverable">
      <div class="card-body">
        <h2 class="card-title">{{ repo_url.last }}</h2>
        <p class="card-text text-muted">{{ repo_url.first }}</p>
        <div class="row ml-1 mr-1 p-0">
          <div class="github-icon">
            <div class="icon" data-toggle="tooltip" title="Code Repository">
              <a href="https://github.com/{{ include.repository }}"><i class="fab fa-github gh-icon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
